{% extends 'base.html' %}

{% block content %}
    <h1>Our products</h1>
    {% if products %}
        <div class="container text-center">
            <div class="row">
                {% for product in products %}
                    <div class="col">
                        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" width="100" height="100"><br>
                        <b>{{ product.name }}</b><br>
                        {{ product.description }}               
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p> No products available.</p>
    {% endif %}
{% endblock %}