{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <h1>Your Shopping Cart</h1>
        {% if cart_items %}
            <div class="row row-cols-auto">
                {% for item in cart_items %}
                    <div class="col">
                        <div class="card" id="cartProductID_{{ item.product.id }}">
                            {% if item.product.image_path %}
                                <img src="{{ url_for('static', filename=item.product.image_path) }}" alt="{{ item.product.name }}" width="144" height="144">
                            {% else %}
                                <img src="{{ url_for('static', filename='img2.jpg') }}" alt="{{ item.product.name }}" width="144" height="144">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ item.product.name }}</h5>
                                <h5 class="card-title" id="cartItemCount_{{ item.product.id }}">Quantity: 
                                    <button class="btn btn-primary" id="decreaseButton_{{ item.product.id }}" onclick="decreaseQuantity(this)" data-product-id="{{ item.product.id }}" data-product-price="{{ item.product.price }}" {% if item.quantity == 1 %}disabled{% endif %}>-</button>
                                    <span id="quantityDisplay_{{ item.product.id }}">{{ item.quantity }}</span>
                                    <button class="btn btn-primary" onclick="increaseQuantity(this)" data-product-id="{{ item.product.id }}" data-product-price="{{ item.product.price }}">+</button>
                                </h5>    
                                <span id="priceDisplay_{{ item.product.id }}">Price: {{ "%.2f"|format(item.product.price * item.quantity) }} USD</span><br>
                                <a class="btn btn-primary" onclick="removeFromCart('{{ item.product.id }}')">Remove from Cart</a>
                            </div>
                        </div>            
                    </div>
                {% endfor %}
            </div>
            <p>Total to pay: {{ total_to_pay }} USD</p><br>
            <a href="{{ url_for('main.checkout') }}" class="btn btn-primary">Proceed to Checkout</a>
        {% else %}
            <p>Your shopping cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}


